.formContainer{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 500px;
    background-color: #090807;
    padding: 50px;
    border: 1px solid white;
    box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
    .formTitle{
        color: white;
        font-size: 2rem;
        margin-bottom: 15px;
    }
    .formText{
        color: white;
        font-size: 1rem;
    }
    .formInput{
        width: 250px;
        padding: 5px;
        margin-bottom: 20px;
        font-size: 1rem;
    }
    .formSubmit{
        height: 30px;
        width: 150px;
        padding: 5px;
        font-size: .9rem;
    }
}
.orderContainer{
    display: flex;
    width: 70vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #090807;
    border: 1px solid white;
    box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
    padding: 50px;
    .orderTitle{
        font-size: 2.3rem;
        color: white;
        margin-bottom: 15px;
    }
    .orderText{
        font-size: 1.9rem;
        color: white;
    }
    .orderLink{
        font-size: 1.4rem;
        margin-top: 15px;
    }
}
.orderProductContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #090807;
    border: 1px solid white;
    box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
    width: 70vw;
    margin: 0 auto;
    .productContainer{
        display: flex;
        width: 70vw;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 30px;
        .orderImgSection{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            .orderImg{
                width: 100px;
            }
            .sectionDiv{
                width: 150px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .orderText{
                    color: #ffffff;
                    font-size: 1.5rem;
                }  
            }
        }
        .itemDetailLine{
            display: none;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
        }
        .orderDetailSection{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            .sectionDiv{
                width: 150px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .orderText{
                    color: #ffffff;
                    font-size: 1.5rem;
                }  
                .orderTitle{
                    color: #c9c9c9;
                    font-size: 1.2rem;
                }
            }
        }
        
    }
    .orderTitle{
        color: #c9c9c9;
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1000px){
    .orderContainer{
        width: 90vw;
        text-align: center;
    }
    .orderProductContainer{
        width: 90vw;
        .productContainer{
            width: 90vw;
            flex-direction: column;
            align-items: baseline;
            .orderImgSection{
                width: 400px;
                align-items: center;
                .orderImg{
                    width: 90px;
                    margin-right: 20px;
                }
                .sectionDiv{
                    width: 390px;
                }
            }
            .itemDetailLine{
                display: block;
            }
            .orderDetailSection{
                margin: 0 auto;
                justify-content: space-evenly;
                width: 100%;
                .sectionDiv{
                    width: 200px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .formContainer{
        width: 300px;
        margin-bottom: 200px;
    }
    .orderProductContainer{
        .productContainer{
            .orderImgSection{
                width: 300px;
            }
        }
    }
}