.loading{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .spinnerContainer{
        background-color: #090807;
        box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
        border: 1px solid white;
        padding: 10px;
    }
}