*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  line-height: 1.5;
}
body{
  height: 100%;
  background-color: black;
  background-image: url("/img/background_tboy.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  h2, p{
    color: white;
    font-size: 2rem;
  }
}